

// Styles for validator

$validation-color-error: red;
$validation-color-warning: orange;

.validation-decorator {
    -fx-spacing: 2;

    .component-container {
        -fx-border-width: 3;

        &:with-errors {
            -fx-focus-color: $validation-color-error;
            -fx-faint-focus-color: rgba($validation-color-error, 0.2);

            -fx-text-box-border: $validation-color-error;
        }

        &:with-warnings {
            -fx-focus-color: $validation-color-warning;
            -fx-faint-focus-color: rgba($validation-color-warning, 0.2);

            -fx-text-box-border: $validation-color-warning;
        }
    }

    .objections-container {
        -fx-spacing: 2;

        .objection {
            &.severity-error {
                .marker {
                    -fx-fill: $validation-color-error;
                }

                .message {
                    -fx-fill: $validation-color-error;
                }
            }

            &.severity-warning {
                .marker {
                    -fx-fill: $validation-color-warning;
                }

                .message {
                    -fx-fill: $validation-color-warning;
                }
            }
        }
    }
}